<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-autowire="byType">

	<bean id="messageService" class="com.rt.service.MessageServiceImpl"></bean>

	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.rt.converter.StringToDateConverter" />
			</list>
		</property>
	</bean>
	<bean id="myFactoryBean" class="com.rt.MyFactoryBean">

	</bean>
</beans>